<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Medicine</title>
    <script>
        (function() {

            // JavaScript snippet handling Dark/Light mode switching

            const getStoredTheme = () => localStorage.getItem('theme');
            const setStoredTheme = theme => localStorage.setItem('theme', theme);
            const forcedTheme = document.documentElement.getAttribute('data-bss-forced-theme');

            const getPreferredTheme = () => {

                if (forcedTheme) return forcedTheme;

                const storedTheme = getStoredTheme();
                if (storedTheme) {
                    return storedTheme;
                }

                const pageTheme = document.documentElement.getAttribute('data-bs-theme');

                if (pageTheme) {
                    return pageTheme;
                }

                return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
            }

            const setTheme = theme => {
                if (theme === 'auto' && window.matchMedia('(prefers-color-scheme: dark)').matches) {
                    document.documentElement.setAttribute('data-bs-theme', 'dark');
                } else {
                    document.documentElement.setAttribute('data-bs-theme', theme);
                }
            }

            setTheme(getPreferredTheme());

            const showActiveTheme = (theme, focus = false) => {
                const themeSwitchers = [].slice.call(document.querySelectorAll('.theme-switcher'));

                if (!themeSwitchers.length) return;

                document.querySelectorAll('[data-bs-theme-value]').forEach(element => {
                    element.classList.remove('active');
                    element.setAttribute('aria-pressed', 'false');
                });

                for (const themeSwitcher of themeSwitchers) {

                    const btnToActivate = themeSwitcher.querySelector('[data-bs-theme-value="' + theme + '"]');

                    if (btnToActivate) {
                        btnToActivate.classList.add('active');
                        btnToActivate.setAttribute('aria-pressed', 'true');
                    }
                }
            }

            window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', () => {
                const storedTheme = getStoredTheme();
                if (storedTheme !== 'light' && storedTheme !== 'dark') {
                    setTheme(getPreferredTheme());
                }
            });

            window.addEventListener('DOMContentLoaded', () => {
                showActiveTheme(getPreferredTheme());

                document.querySelectorAll('[data-bs-theme-value]')
                    .forEach(toggle => {
                        toggle.addEventListener('click', (e) => {
                            e.preventDefault();
                            const theme = toggle.getAttribute('data-bs-theme-value');
                            setStoredTheme(theme);
                            setTheme(theme);
                            showActiveTheme(theme);
                        })
                    })
            });
        })();
    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" th:href="@{/css/Navbar-Right-Links-icons.css}">
    <link rel="stylesheet" th:href="@{/css/Overlay-Login-Form.css}">
</head>

<body class="d-flex flex-column align-items-stretch align-content-stretch" style="width: 100vw;height: 100vh;">
<th:block th:insert="blocks/header"></th:block>
    <div class="d-flex flex-column flex-grow-1 justify-content-center align-items-center">
        <div class="border rounded border-2 border-white shadow-lg" style="padding: 1em;">
            <h3>Запись к врачу</h3>
            <form method="post" th:object="${appointdto}" action="/appoints/add">
                <div class="d-flex flex-row align-items-stretch flex-wrap gap-3" style="padding: 1em;">
                    <div class="d-flex flex-column flex-grow-1 align-items-stretch"><label class="form-label align-items-stretch">Дата записи<span class="text-danger">*</span></label>
                        <input class="form-control" type="date" name="date" th:field="*{date}" required></div>
                    <div class="d-flex flex-column flex-grow-1 align-items-stretch"><label class="form-label align-items-stretch">Доктор<span class="text-danger">*</span></label>
                        <select class="form-select" id="doctors" name="doctor" th:field="*{doctor.id}" required>
                            <option th:each="doctor : ${doctors}" th:value="${doctor.id}"
                                    th:text="${doctor.account.lastname} + ' ' + ${doctor.account.name} + ' ' + ${doctor.account.patronymic}"></option>
                        </select>
                    </div>
                    <div class="d-flex flex-column flex-grow-1 align-items-stretch"><label class="form-label align-items-stretch">Кабинет<span class="text-danger">*</span></label>
                        <select class="form-select" id="cabinets" name="cabinet" th:field="*{cabinet.id}" required>
                            <option th:each="cab : ${cabinets}" th:value="${cab.id}"
                                    th:text="${cab.name}"></option>
                        </select>
                    </div>
                    <input type="hidden"  th:value="${patient.id}" name="patient.id">
                    <button class="btn btn-primary" type="submit">Записаться</button>
                </div>
            </form>
            <h3>История записей</h3>
            <ul class="list-group d-flex flex-column gap-3">
                <th:block th:each="appoint : ${appoints}">
                    <form class="d-flex gap-3 justify-content-between" method="post" th:action="'/appoints/delete?id=' + ${appoint.id}">
                        <li class="list-group-item flex-grow-0 w-75"><span th:text="${appoint.date.toLocaleString()} + ' Кабинет: ' + ${appoint.cabinet.name} + ' Врач: ' + ${appoint.doctor.account.lastname}"></span></li>
                        <button class="btn btn-danger flex-grow-0 w-25" formmethod="post" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-trash3">
                            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"></path>
                        </svg></button>
                    </form>
                </th:block>
            </ul>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script th:src="@{/js/bs-init.js}"></script>
</body>

</html>