<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Medicine</title>
    <script>
        (function() {

            // JavaScript snippet handling Dark/Light mode switching

            const getStoredTheme = () => localStorage.getItem('theme');
            const setStoredTheme = theme => localStorage.setItem('theme', theme);
            const forcedTheme = document.documentElement.getAttribute('data-bss-forced-theme');

            const getPreferredTheme = () => {

                if (forcedTheme) return forcedTheme;

                const storedTheme = getStoredTheme();
                if (storedTheme) {
                    return storedTheme;
                }

                const pageTheme = document.documentElement.getAttribute('data-bs-theme');

                if (pageTheme) {
                    return pageTheme;
                }

                return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
            }

            const setTheme = theme => {
                if (theme === 'auto' && window.matchMedia('(prefers-color-scheme: dark)').matches) {
                    document.documentElement.setAttribute('data-bs-theme', 'dark');
                } else {
                    document.documentElement.setAttribute('data-bs-theme', theme);
                }
            }

            setTheme(getPreferredTheme());

            const showActiveTheme = (theme, focus = false) => {
                const themeSwitchers = [].slice.call(document.querySelectorAll('.theme-switcher'));

                if (!themeSwitchers.length) return;

                document.querySelectorAll('[data-bs-theme-value]').forEach(element => {
                    element.classList.remove('active');
                    element.setAttribute('aria-pressed', 'false');
                });

                for (const themeSwitcher of themeSwitchers) {

                    const btnToActivate = themeSwitcher.querySelector('[data-bs-theme-value="' + theme + '"]');

                    if (btnToActivate) {
                        btnToActivate.classList.add('active');
                        btnToActivate.setAttribute('aria-pressed', 'true');
                    }
                }
            }

            window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', () => {
                const storedTheme = getStoredTheme();
                if (storedTheme !== 'light' && storedTheme !== 'dark') {
                    setTheme(getPreferredTheme());
                }
            });

            window.addEventListener('DOMContentLoaded', () => {
                showActiveTheme(getPreferredTheme());

                document.querySelectorAll('[data-bs-theme-value]')
                    .forEach(toggle => {
                        toggle.addEventListener('click', (e) => {
                            e.preventDefault();
                            const theme = toggle.getAttribute('data-bs-theme-value');
                            setStoredTheme(theme);
                            setTheme(theme);
                            showActiveTheme(theme);
                        })
                    })
            });
        })();
    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" th:href="@{/css/Navbar-Right-Links-icons.css}">
    <link rel="stylesheet" th:href="@{/css/Overlay-Login-Form.css}">
</head>

<body class="d-flex flex-column align-items-stretch align-content-stretch" style="width: 100vw;height: 100vh;">
<th:block th:insert="blocks/header"></th:block>
    <div class="d-flex flex-grow-1">
        <div class="d-flex flex-column flex-grow-1" style="padding: 1em;">
            <div class="border rounded border-2 shadow-sm" style="padding: 1em;margin: 2em;">
                <form class="d-flex flex-column gap-2" th:object="${empl}" th:action="'/employes/update?id=' + ${empl.id}" method="post">
                    <div class="d-flex flex-column align-items-stretch"><label class="form-label align-items-stretch">Фамилия сотрудника</label>
                        <input th:field="*{lastname}" class="form-control" type="text" required=""></div>
                    <div class="d-flex flex-column align-items-stretch"><label class="form-label align-items-stretch">Имя сотрудника</label>
                        <input th:field="*{name}" class="form-control" type="text" required=""></div>
                    <div class="d-flex flex-column align-items-stretch"><label class="form-label align-items-stretch">Отчество сотрудника</label>
                        <input th:field="*{patronymic}" class="form-control" type="text"></div>
                    <div class="d-flex flex-column align-items-stretch"><label class="form-label align-items-stretch">Номер телефона</label>
                        <input th:field="*{phone_number}" class="form-control" type="text"></div>
                    <div class="d-flex flex-column align-items-stretch"><label class="form-label align-items-stretch">Адрес электронной почты</label>
                        <input th:field="*{emaildoc}" class="form-control" type="text"></div>
                    <div class="d-flex flex-column align-items-stretch"><label class="form-label align-items-stretch">Табельный номер</label>
                        <input th:field="*{tabelNumber}" class="form-control" type="text"></div>
                    <div class="d-flex flex-column align-items-stretch"><label class="form-label align-items-stretch">Должность</label>
                        <input th:field="*{speciality}" class="form-control" type="text"></div>
                    <input type="hidden" th:field="*{account.id}" th:value="${empl.account.id}">
                    <div class="d-flex flex-column align-items-stretch"><button class="btn btn-primary" type="submit">Сохранить изменения</button></div>
                </form>
                <form method="post" style="margin-top: 1em;"><button class="btn btn-danger" type="submit">Удалить</button></form>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script th:src="@{/js/bs-init.js}"></script>
</body>

</html>