<!DOCTYPE html>
<html data-bs-theme="light" lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Medicine</title>
    <script>
        (function() {

            // JavaScript snippet handling Dark/Light mode switching

            const getStoredTheme = () => localStorage.getItem('theme');
            const setStoredTheme = theme => localStorage.setItem('theme', theme);
            const forcedTheme = document.documentElement.getAttribute('data-bss-forced-theme');

            const getPreferredTheme = () => {

                if (forcedTheme) return forcedTheme;

                const storedTheme = getStoredTheme();
                if (storedTheme) {
                    return storedTheme;
                }

                const pageTheme = document.documentElement.getAttribute('data-bs-theme');

                if (pageTheme) {
                    return pageTheme;
                }

                return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
            }

            const setTheme = theme => {
                if (theme === 'auto' && window.matchMedia('(prefers-color-scheme: dark)').matches) {
                    document.documentElement.setAttribute('data-bs-theme', 'dark');
                } else {
                    document.documentElement.setAttribute('data-bs-theme', theme);
                }
            }

            setTheme(getPreferredTheme());

            const showActiveTheme = (theme, focus = false) => {
                const themeSwitchers = [].slice.call(document.querySelectorAll('.theme-switcher'));

                if (!themeSwitchers.length) return;

                document.querySelectorAll('[data-bs-theme-value]').forEach(element => {
                    element.classList.remove('active');
                    element.setAttribute('aria-pressed', 'false');
                });

                for (const themeSwitcher of themeSwitchers) {

                    const btnToActivate = themeSwitcher.querySelector('[data-bs-theme-value="' + theme + '"]');

                    if (btnToActivate) {
                        btnToActivate.classList.add('active');
                        btnToActivate.setAttribute('aria-pressed', 'true');
                    }
                }
            }

            window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', () => {
                const storedTheme = getStoredTheme();
                if (storedTheme !== 'light' && storedTheme !== 'dark') {
                    setTheme(getPreferredTheme());
                }
            });

            window.addEventListener('DOMContentLoaded', () => {
                showActiveTheme(getPreferredTheme());

                document.querySelectorAll('[data-bs-theme-value]')
                    .forEach(toggle => {
                        toggle.addEventListener('click', (e) => {
                            e.preventDefault();
                            const theme = toggle.getAttribute('data-bs-theme-value');
                            setStoredTheme(theme);
                            setTheme(theme);
                            showActiveTheme(theme);
                        })
                    })
            });
        })();
    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" th:href="@{/css/Navbar-Right-Links-icons.css}">
    <link rel="stylesheet" th:href="@{/css/Overlay-Login-Form.css}">
</head>

<body class="d-flex flex-column align-items-stretch" style="width: 100vw;height: 100vh;">
<th:block th:insert="blocks/header"></th:block>

    <div class="d-flex flex-column flex-grow-1 justify-content-center align-items-center">
        <div class="border rounded border-5 border-white shadow-lg d-flex flex-column gap-3" style="padding: 1em;">
            <div class="d-flex justify-content-between flex-wrap" style="width: 100%;"><span class="bs-icon-xl bs-icon-rounded bs-icon-primary text-bg-light border rounded border-1 d-flex justify-content-center align-items-center me-2 bs-icon"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-file-medical">
                        <path d="M8.5 4.5a.5.5 0 0 0-1 0v.634l-.549-.317a.5.5 0 1 0-.5.866L7 6l-.549.317a.5.5 0 1 0 .5.866l.549-.317V7.5a.5.5 0 1 0 1 0v-.634l.549.317a.5.5 0 1 0 .5-.866L9 6l.549-.317a.5.5 0 1 0-.5-.866l-.549.317zM5.5 9a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1zm0 2a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1z"></path>
                        <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1"></path>
                    </svg></span>
                <div class="border rounded border-1 d-flex flex-column justify-content-center" style="padding: .75em;">
                    <p style="margin-bottom: 0;">Номер карты:</p>
                    <p class="text-truncate fw-bold" style="margin-bottom: 0;">e4fab980-78d1-40d8-82de-00c6037e2c83</p>
                </div>
            </div>
            <form method="post" th:object="${medcard}" th:action="'/medcards/update?id=' + ${medcard.id}">
                <h3>Основная информация</h3>
                <div class="d-flex flex-row align-items-stretch flex-wrap gap-3" style="padding: 1em;">
                    <div class="d-flex flex-column flex-grow-1 align-items-stretch"><label class="form-label align-items-stretch">Фамилия пациента<span class="text-danger">*</span></label>
                        <input name="lastname" th:field="*{user_account.lastname}" class="form-control" type="text" required=""></div>
                    <div class="d-flex flex-column flex-grow-1 align-items-stretch"><label class="form-label align-items-stretch">Имя пациента<span class="text-danger">*</span></label>
                        <input name="name" th:field="*{user_account.name}" class="form-control" type="text" required=""></div>
                    <div class="d-flex flex-column flex-grow-1 align-items-stretch"><label class="form-label align-items-stretch">Отчество пациента</label>
                        <input name="patronymic" th:field="*{user_account.patronymic}" class="form-control" type="text"></div>
                </div>
                <div class="d-flex flex-row align-items-stretch flex-wrap gap-3" style="padding: 1em;">
                    <div class="d-flex flex-column flex-grow-1 align-items-stretch"><label class="form-label align-items-stretch">Серия паспорта<span class="text-danger">*</span></label>
                        <input name="passport.series" th:field="*{passport.series}" class="form-control" type="number" required=""></div>
                    <div class="d-flex flex-column flex-grow-1 align-items-stretch"><label class="form-label align-items-stretch">Номер паспорта<span class="text-danger">*</span></label>
                        <input name="passport.number" th:field="*{passport.number}" class="form-control" type="text" required=""></div>
                    <div class="d-flex flex-column flex-grow-1 align-items-stretch"><label class="form-label align-items-stretch">Гражданство<span class="text-danger">*</span></label>
                        <input name="citizenship" id="citizenship" th:value="'Россия'" disabled class="form-control" type="text" required=""></div>
                    <div class="d-flex flex-column flex-grow-1 align-items-stretch"><label class="form-label text-truncate align-items-stretch">Тип прикрепления<span class="text-danger">*</span></label>

                        <select class="form-select" id="attach" name="attachment" th:field="*{attachment.id}">
                            <option th:each="attach : ${attachs}" th:value="${attach.id}"
                                    th:text="${attach.type_name}" th:selected="${medcard.attachment.id == attach.id}"></option>
                        </select>
                    </div>
                    <div class="d-flex flex-column flex-grow-1 align-items-stretch"><label class="form-label text-truncate align-items-stretch">Номер полиса<span class="text-danger">*</span></label>
                        <input name="snils" th:field="*{snils}" class="form-control" type="text" required=""></div>
                </div>
                <h3>Физиологические данные</h3>
                <div class="d-flex flex-row align-items-stretch flex-wrap gap-3" style="padding: 1em;">
                    <div class="d-flex flex-column flex-grow-1 align-items-stretch"><label class="form-label align-items-stretch">Дата рождения</label>
                        <input name="bith_date" th:field="*{bith_date}" class="form-control" type="date"></div>
                    <div class="d-flex flex-column flex-grow-1 align-items-stretch"><label class="form-label align-items-stretch">Пол</label>
                        <select name="gender" th:field="*{gender}" class="form-select">
                            <option value="Мужской" th:selected="${medcard.gender == 'Мужской'}">Мужской</option>
                            <option value="Женский" th:selected="${medcard.gender == 'Женский'}">Женский</option>
                        </select></div>
                    <div class="d-flex flex-column flex-grow-1 align-items-stretch"><label class="form-label align-items-stretch">Рост (в сантиметрах)</label>
                        <input name="height" th:field="*{height}" min="0" oninput="validity.valid||(value='');" class="form-control" type="number"></div>
                    <div class="d-flex flex-column flex-grow-1 align-items-stretch"><label class="form-label align-items-stretch">Вес(в килограммах)</label>
                        <input name="weight" th:field="*{weight}" min="0" oninput="validity.valid||(value='');" class="form-control" type="number"></div>
                </div>
                <h3>Контактная информация</h3>
                <div class="d-flex flex-row align-items-stretch flex-wrap gap-3" style="padding: 1em;">
                    <div class="d-flex flex-column flex-grow-1 align-items-stretch"><label class="form-label align-items-stretch">Адрес электронной почты</label>
                        <input name="emaildoc" th:field="*{user_account.email}" class="form-control" type="email"></div>
                    <div class="d-flex flex-column flex-grow-1 align-items-stretch"><label class="form-label align-items-stretch">Номер телефона</label>
                        <input name="phone_number" th:field="*{user_account.phone_number}" class="form-control" type="text"></div>
                </div>
                <input type="hidden" th:value="${medcard.user_account.id}" id="user_account" th:field="*{user_account.id}">
                <button class="btn btn-primary m-auto" formmethod="post" type="submit">Сохранить изменения</button>
            </form>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script th:src="@{/js/bs-init.js}"></script>
</body>

</html>